DISCORD_TOKEN=MTUyOTc3MjExMTkzNjA5NDIyOA.GzsE7Z.05sB75dP39t1kz6bEz9Kl7adHE8ljjeQSEqQ4Y.yyy

CLIENT_ID=1529772111936094228.yyy

DATABASE_URL="postgresql://postgres:WwSeJsedVYUzqPNlZtGEoBYnjehcPcCq@sakura.proxy.rlwy.net:43250/railway.yyy"

GEMINI_API_KEY=AQ.Ab8RN6JKbAuu_UQvcwc00VSL-wbW2jdDJeiT3Ukp__lx8yhQow.yyy

TAVILY_API_KEY=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.yyy

OWNER_ID=1292595486129389608.yyy